<div id="Traffic">
  <h1>{{traffic.title}}</h1>
  <button v-on:click="toggleGame">{{ traffic.moveTimer ? 'reset' : 'start' }}</button>
  <table>
    <tr v-for="(item, row) in traffic.grid">
      <td v-for="(cell, column) in item" v-on:click="switchLight(row, column)" v-bind:class="{
        'road': cell == 'r',
        'crossing': cell == 'c',
        'topLight': isLight('top', row, column),
        'rightLight': isLight('right', row, column),
        'bottomLight': isLight('bottom', row, column),
        'leftLight': isLight('left', row, column),
        'lightOn': isGreen(row, column)
      } ">
        <span v-if="traffic.carLocations[row]">
          {{traffic.carLocations[row][column]}}
        </span>
      </td>
    </tr>
  </table>
  <p>Current game points: <strong>{{ traffic.spawned }}</strong></p>
  <p>
    Help as many cars as possible to their destination.
    Click on a crossing to switch a light from color.
    You lose when two cars crash into each other or when there are to many cars waiting.
  </p>
</div>